# 数据探索

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from math import *
%matplotlib inline

### 读入用户数据

In [4]:
userFile = './data/JData_User.csv'

In [11]:
user_df = pd.read_csv(userFile,encoding='gbk')
print(type(user_df))
print(user_df.head())

<class 'pandas.core.frame.DataFrame'>
   user_id     age  sex  user_lv_cd user_reg_tm
0   200001   56岁以上  2.0           5  2016-01-26
1   200002      -1  0.0           1  2016-01-26
2   200003  36-45岁  1.0           4  2016-01-26
3   200004      -1  2.0           1  2016-01-26
4   200005  16-25岁  0.0           4  2016-01-26

### 用户数据探索

In [12]:
user_df.describe()

             user_id            sex     user_lv_cd
count  105321.000000  105318.000000  105321.000000
mean   252661.000000       1.112887       3.850030
std     30403.698188       0.955930       1.071505
min    200001.000000       0.000000       1.000000
25%    226331.000000       0.000000       3.000000
50%    252661.000000       2.000000       4.000000
75%    278991.000000       2.000000       5.000000
max    305321.000000       2.000000       5.000000

In [14]:
user_df['age'].unique()

array(['56岁以上', '-1', '36-45岁', '16-25岁', '26-35岁', '46-55岁', nan, '15岁以下'], dtype=object)

In [13]:
user_df['sex'].unique()

array([  2.,   0.,   1.,  nan])

In [15]:
user_df['user_lv_cd'].unique()

array([5, 1, 4, 2, 3])

### 商品数据探索

In [ ]:
productFile= './data/JData_Product.csv'

In [ ]:
prd_df = pd.read_csv(productFile,encoding='gbk')
print(type(prd_df))
print(prd_df.head())