# 数据探索

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from math import *
%matplotlib inline

### 1.读入商品数据

In [2]:
File = './data/JData_Product.csv'

In [3]:
df = pd.read_csv(File,encoding='gbk')
print(type(df))
print(df.head())

<class 'pandas.core.frame.DataFrame'>
   sku_id  a1  a2  a3  cate  brand
0      10   3   1   1     8    489
1  100002   3   2   2     8    489
2  100003   1  -1  -1     8     30
3  100006   1   2   1     8    545
4   10001  -1   1   2     8    244

### 2.商品数据探索

In [4]:
df.describe()

,sku_id,a1,a2,a3,cate,brand
count,24187.000000,24187.000000,24187.000000,24187.000000,24187.0,24187.000000
mean,85398.737421,2.176996,0.938975,1.179766,8.0,435.864307
std,49238.799482,1.176116,0.969517,1.045883,0.0,225.749190
min,6.000000,-1.000000,-1.000000,-1.000000,8.0,3.000000
25%,42476.000000,1.000000,1.000000,1.000000,8.0,214.000000
50%,85616.000000,3.000000,1.000000,1.000000,8.0,489.000000
75%,127774.000000,3.000000,2.000000,2.000000,8.0,571.000000
max,171224.000000,3.000000,2.000000,2.000000,8.0,922.000000

In [5]:
# 查看数据条数
len(df)

24187

In [6]:
# 查看属性非空条数
df['sku_id'].count()

24187

In [7]:
# 查看属性非空条数
df['a1'].count()

24187

In [8]:
# 查看属性非空条数
df['a2'].count()

24187

In [9]:
# 查看属性非空条数
df['a3'].count()

24187

In [10]:
# 查看属性非空条数
df['cate'].count()

24187

In [11]:
# 查看属性非空条数
df['brand'].count()

24187

### 3.数据清洗

### 4.查看属性的取值分布情况

In [12]:
#查看属性的值
df['a1'].unique()

array([ 3,  1, -1,  2])

In [13]:
#查看每一个属性取值的数据条数
df['a1'].value_counts()

 3    14144
 1     4760
 2     3582
-1     1701
Name: a1, dtype: int64

In [14]:
# 做离散化处理
df['a1_1'] = 0.0
df['a1_2'] = 0.0
df['a1_3'] = 0.0
df['a1_m'] = 0.0
# 离散化赋值
df.loc[df['a1'] == 1,'a1_1']=1
df.loc[df['a1'] == 2,'a1_2']=1
df.loc[df['a1'] == 3,'a1_3']=1
df.loc[df['a1'] == -1,'a1_m']=1
# 查看结果
df.head()

   sku_id  a1  a2  a3  cate  brand  a1_1  a1_2  a1_3  a1_m
0      10   3   1   1     8    489   0.0   0.0   1.0   0.0
1  100002   3   2   2     8    489   0.0   0.0   1.0   0.0
2  100003   1  -1  -1     8     30   1.0   0.0   0.0   0.0
3  100006   1   2   1     8    545   1.0   0.0   0.0   0.0
4   10001  -1   1   2     8    244   0.0   0.0   0.0   1.0

In [15]:
#查看属性的值
df['a2'].unique()

array([ 1,  2, -1])

In [16]:
#查看每一个属性取值的数据条数
df['a2'].value_counts()

 1    13513
 2     6624
-1     4050
Name: a2, dtype: int64

In [17]:
# 做离散化处理
df['a2_1'] = 0.0
df['a2_2'] = 0.0
df['a2_m'] = 0.0
# 离散化赋值
df.loc[df['a2'] == 1,'a2_1']=1
df.loc[df['a2'] == 2,'a2_2']=1
df.loc[df['a2'] == -1,'a2_m']=1
# 查看结果
df.head()

   sku_id  a1  a2  a3  cate  brand  a1_1  a1_2  a1_3  a1_m  a2_1  a2_2  a2_m
0      10   3   1   1     8    489   0.0   0.0   1.0   0.0   1.0   0.0   0.0
1  100002   3   2   2     8    489   0.0   0.0   1.0   0.0   0.0   1.0   0.0
2  100003   1  -1  -1     8     30   1.0   0.0   0.0   0.0   0.0   0.0   1.0
3  100006   1   2   1     8    545   1.0   0.0   0.0   0.0   0.0   1.0   0.0
4   10001  -1   1   2     8    244   0.0   0.0   0.0   1.0   1.0   0.0   0.0

In [18]:
df['a3'].unique()

array([ 1,  2, -1])

In [19]:
#查看每一个属性取值的数据条数
df['a3'].value_counts()

 2    11978
 1     8394
-1     3815
Name: a3, dtype: int64

In [20]:
# 做离散化处理
df['a3_1'] = 0.0
df['a3_2'] = 0.0
df['a3_m'] = 0.0
# 离散化赋值
df.loc[df['a3'] == 1,'a3_1']=1
df.loc[df['a3'] == 2,'a3_2']=1
df.loc[df['a3'] == -1,'a3_m']=1
# 查看结果
df.head()

,sku_id,a1,a2,a3,cate,brand,a1_1,a1_2,a1_3,a1_m,a2_1,a2_2,a2_m,a3_1,a3_2,a3_m
0,10,3,1,1,8,489,0.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0
1,100002,3,2,2,8,489,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0
2,100003,1,-1,-1,8,30,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0
3,100006,1,2,1,8,545,1.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0
4,10001,-1,1,2,8,244,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,1.0,0.0

In [21]:
df['cate'].unique()

array([8])

In [22]:
df['brand'].unique()

array([489,  30, 545, 244, 214, 124, 306, 403, 174, 812, 635, 885, 658,
       321, 790, 875, 766, 800, 693, 623, 571, 556, 801, 101, 596, 605,
       562, 427, 673, 200,  91, 355, 375, 655, 916,  70, 804, 561, 622,
       263, 900, 159, 677, 484,  88,  14,  76, 665, 674, 116,  25, 324,
       318,  90, 328, 541,  83,  24, 837, 291, 717, 127, 249,  51, 857,
       383, 370,   3, 404, 599, 209, 453, 197, 594, 922, 855, 574, 772,
       211, 331,  48, 515, 225, 180, 752, 283, 438, 907, 336, 905,  13,
       299, 759,  49, 479, 354, 285, 739, 227, 554, 871, 499])

In [24]:
# 查看品牌id的个数
len(df['brand'].unique())

102

In [29]:
# 对品牌id做离散处理 (初期化为全零)
col_id = ['brand_' + str(x) for x in (df['brand'].unique())]
for col in col_id:
    df[col]= 0

In [30]:
df.head()

,sku_id,a1,a2,a3,cate,brand,a1_1,a1_2,a1_3,a1_m,...,brand_759,brand_49,brand_479,brand_354,brand_285,brand_739,brand_227,brand_554,brand_871,brand_499
0,10,3,1,1,8,489,0.0,0.0,1.0,0.0,...,0,0,0,0,0,0,0,0,0,0
1,100002,3,2,2,8,489,0.0,0.0,1.0,0.0,...,0,0,0,0,0,0,0,0,0,0
2,100003,1,-1,-1,8,30,1.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0
3,100006,1,2,1,8,545,1.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0
4,10001,-1,1,2,8,244,0.0,0.0,0.0,1.0,...,0,0,0,0,0,0,0,0,0,0

In [35]:
# 离散化
for col in col_id:
    df.loc[df['brand'] == int(col.split("_")[1]),col] = 1

In [37]:
df[col_id].head()

,brand_489,brand_30,brand_545,brand_244,brand_214,brand_124,brand_306,brand_403,brand_174,brand_812,...,brand_759,brand_49,brand_479,brand_354,brand_285,brand_739,brand_227,brand_554,brand_871,brand_499
0,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [38]:
df.head()

,sku_id,a1,a2,a3,cate,brand,a1_1,a1_2,a1_3,a1_m,...,brand_759,brand_49,brand_479,brand_354,brand_285,brand_739,brand_227,brand_554,brand_871,brand_499
0,10,3,1,1,8,489,0.0,0.0,1.0,0.0,...,0,0,0,0,0,0,0,0,0,0
1,100002,3,2,2,8,489,0.0,0.0,1.0,0.0,...,0,0,0,0,0,0,0,0,0,0
2,100003,1,-1,-1,8,30,1.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0
3,100006,1,2,1,8,545,1.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0
4,10001,-1,1,2,8,244,0.0,0.0,0.0,1.0,...,0,0,0,0,0,0,0,0,0,0

### 5.特征处理

In [39]:
# 处理好的数据写入到文件
# 丢弃处理之前的属性列
colDrop = ['a1','a2','a3','cate','brand']
df_sel =df.drop(colDrop,axis=1).copy()

In [40]:
df_sel.head()

,sku_id,a1_1,a1_2,a1_3,a1_m,a2_1,a2_2,a2_m,a3_1,a3_2,...,brand_759,brand_49,brand_479,brand_354,brand_285,brand_739,brand_227,brand_554,brand_871,brand_499
0,10,0.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,...,0,0,0,0,0,0,0,0,0,0
1,100002,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,...,0,0,0,0,0,0,0,0,0,0
2,100003,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0
3,100006,1.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,...,0,0,0,0,0,0,0,0,0,0
4,10001,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,1.0,...,0,0,0,0,0,0,0,0,0,0

In [41]:
df_sel.to_csv('../product_df_sel.csv',index=False)