# 数据探索 处理用户行为数据

In [9]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from math import *
%matplotlib inline

### 1.读入数据

In [ ]:
# File = '../action02/000000_0'

# #colInfo =['user_id','sku_id','time','model_id','type','cate','brand']
# colInfo =['user_id','sku_id','cate','brand', \
#           'sum_type1','sum_type2','sum_type3','sum_type4','sum_type5','sum_type6']

# data = pd.read_table(File,sep='\001',names=colInfo)
# data.head() #显示数据的前5行

In [10]:
File = '../JData_Action_201602.csv'
df = pd.read_csv(File,encoding='gbk')

In [12]:
df.head()

    user_id  sku_id                 time  model_id  type  cate  brand
0  266079.0  138778  2016-01-31 23:59:02       NaN     1     8    403
1  266079.0  138778  2016-01-31 23:59:03       0.0     6     8    403
2  200719.0   61226  2016-01-31 23:59:07       NaN     1     8     30
3  200719.0   61226  2016-01-31 23:59:08       0.0     6     8     30
4  263587.0   72348  2016-01-31 23:59:08       NaN     1     5    159

### 2.评论数据探索

In [ ]:
# df.describe()

In [13]:
# 查看数据条数
len(df)

11485424

### 3.数据清洗

In [14]:
# 处理数据里面的Nan

### 4.查看属性的取值分布情况

In [19]:
# 查看user_id 个数
len(df['user_id'].unique())

73299

In [18]:
# 查看sku_id 个数
len(df['sku_id'].unique())

20725

In [17]:
# 查看点击的模块种类个数
len(df['model_id'].unique())

81

In [20]:
# 查看cate个数
len(df['cate'].unique())

8

In [21]:
# 查看brand个数
len(df['brand'].unique())

393

### 5.特征处理

In [23]:
df.head(10)

    user_id  sku_id                 time  model_id  type  cate  brand
0  266079.0  138778  2016-01-31 23:59:02       NaN     1     8    403
1  266079.0  138778  2016-01-31 23:59:03       0.0     6     8    403
2  200719.0   61226  2016-01-31 23:59:07       NaN     1     8     30
3  200719.0   61226  2016-01-31 23:59:08       0.0     6     8     30
4  263587.0   72348  2016-01-31 23:59:08       NaN     1     5    159
5  296130.0  103126  2016-01-31 23:59:11       NaN     1     4    174
6  296130.0  103126  2016-01-31 23:59:11       0.0     6     4    174
7  296130.0  103126  2016-01-31 23:59:11       0.0     6     4    174
8  217892.0  137328  2016-01-31 23:59:14     111.0     6     6    159
9  283139.0    4732  2016-01-31 23:59:14       NaN     1     6    375

In [24]:
# dummy variable
model_dummy = pd.get_dummies(df['model_id'])

In [26]:
model_dummy.head()

,0.0,11.0,12.0,13.0,14.0,15.0,16.0,17.0,18.0,19.0,...,339.0,340.0,341.0,342.0,343.0,344.0,345.0,346.0,347.0,348.0
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [29]:
type_dummy = pd.get_dummies(df['type'])

In [30]:
type_dummy.head()

   1  2  3  4  5  6
0  1  0  0  0  0  0
1  0  0  0  0  0  1
2  1  0  0  0  0  0
3  0  0  0  0  0  1
4  1  0  0  0  0  0

In [28]:
df_tmp = pd.concat([df[['user_id','sku_id','cate','brand']],type_dummy,model_dummy],axis=1)

,user_id,sku_id,time,model_id,type,cate,brand,0.0,11.0,12.0,...,339.0,340.0,341.0,342.0,343.0,344.0,345.0,346.0,347.0,348.0
0,266079.0,138778,2016-01-31 23:59:02,NaN,1,8,403,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,266079.0,138778,2016-01-31 23:59:03,0.0,6,8,403,1,0,0,...,0,0,0,0,0,0,0,0,0,0
2,200719.0,61226,2016-01-31 23:59:07,NaN,1,8,30,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,200719.0,61226,2016-01-31 23:59:08,0.0,6,8,30,1,0,0,...,0,0,0,0,0,0,0,0,0,0
4,263587.0,72348,2016-01-31 23:59:08,NaN,1,5,159,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5,296130.0,103126,2016-01-31 23:59:11,NaN,1,4,174,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6,296130.0,103126,2016-01-31 23:59:11,0.0,6,4,174,1,0,0,...,0,0,0,0,0,0,0,0,0,0
7,296130.0,103126,2016-01-31 23:59:11,0.0,6,4,174,1,0,0,...,0,0,0,0,0,0,0,0,0,0
8,217892.0,137328,2016-01-31 23:59:14,111.0,6,6,159,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9,283139.0,4732,2016-01-31 23:59:14,NaN,1,6,375,0,0,0,...,0,0,0,0,0,0,0,0,0,0
10,217892.0,137328,2016-01-31 23:59:16,111.0,6,6,159,0,0,0,...,0,0,0,0,0,0,0,0,0,0
11,243907.0,27659,2016-01-31 23:59:22,0.0,6,4,752,1,0,0,...,0,0,0,0,0,0,0,0,0,0
12,243907.0,27659,2016-01-31 23:59:24,17.0,6,4,752,0,0,0,...,0,0,0,0,0,0,0,0,0,0
13,209278.0,6998,2016-01-31 23:59:25,0.0,6,8,545,1,0,0,...,0,0,0,0,0,0,0,0,0,0
14,209278.0,6998,2016-01-31 23:59:25,NaN,1,8,545,0,0,0,...,0,0,0,0,0,0,0,0,0,0
15,266079.0,138778,2016-01-31 23:59:40,0.0,6,8,403,1,0,0,...,0,0,0,0,0,0,0,0,0,0
16,263587.0,127189,2016-01-31 23:59:48,NaN,1,5,159,0,0,0,...,0,0,0,0,0,0,0,0,0,0
17,200719.0,61226,2016-01-31 23:59:50,11.0,6,8,30,0,1,0,...,0,0,0,0,0,0,0,0,0,0
18,209278.0,24679,2016-01-31 23:59:52,NaN,1,8,658,0,0,0,...,0,0,0,0,0,0,0,0,0,0
19,209278.0,24679,2016-01-31 23:59:53,0.0,6,8,658,1,0,0,...,0,0,0,0,0,0,0,0,0,0
20,217567.0,22387,2016-01-31 23:59:54,NaN,1,8,30,0,0,0,...,0,0,0,0,0,0,0,0,0,0
21,217567.0,22387,2016-01-31 23:59:54,0.0,6,8,30,1,0,0,...,0,0,0,0,0,0,0,0,0,0
22,207684.0,4732,2016-01-31 23:59:59,NaN,1,6,375,0,0,0,...,0,0,0,0,0,0,0,0,0,0
23,207684.0,4732,2016-01-31 23:59:59,NaN,1,6,375,0,0,0,...,0,0,0,0,0,0,0,0,0,0
24,207684.0,4732,2016-01-31 23:59:59,NaN,1,6,375,0,0,0,...,0,0,0,0,0,0,0,0,0,0
25,207684.0,4732,2016-01-31 23:59:59,NaN,1,6,375,0,0,0,...,0,0,0,0,0,0,0,0,0,0
26,245959.0,145895,2016-01-31 23:59:59,NaN,1,8,693,0,0,0,...,0,0,0,0,0,0,0,0,0,0
27,245959.0,145895,2016-01-31 23:59:59,NaN,6,8,693,0,0,0,...,0,0,0,0,0,0,0,0,0,0
28,245959.0,145895,2016-01-31 23:59:59,NaN,6,8,693,0,0,0,...,0,0,0,0,0,0,0,0,0,0
29,272629.0,107774,2016-02-01 00:00:00,NaN,1,10,36,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11485394,263603.0,114890,2016-02-29 23:59:56,216.0,6,9,640,0,0,0,...,0,0,0,0,0,0,0,0,0,0
11485395,278856.0,153390,2016-02-29 23:59:56,0.0,6,7,157,1,0,0,...,0,0,0,0,0,0,0,0,0,0
11485396,300537.0,60111,2016-02-29 23:59:56,NaN,1,4,890,0,0,0,...,0,0,0,0,0,0,0,0,0,0
11485397,247295.0,6998,2016-02-29 23:59:56,217.0,6,8,545,0,0,0,...,0,0,0,0,0,0,0,0,0,0
11485398,278856.0,153390,2016-02-29 23:59:56,211.0,6,7,157,0,0,0,...,0,0,0,0,0,0,0,0,0,0
11485399,278856.0,153390,2016-02-29 23:59:56,218.0,6,7,157,0,0,0,...,0,0,0,0,0,0,0,0,0,0
11485400,263603.0,114890,2016-02-29 23:59:56,NaN,1,9,640,0,0,0,...,0,0,0,0,0,0,0,0,0,0
11485401,263603.0,114890,2016-02-29 23:59:56,0.0,6,9,640,1,0,0,...,0,0,0,0,0,0,0,0,0,0
11485402,224475.0,5505,2016-02-29 23:59:57,27.0,6,8,214,0,0,0,...,0,0,0,0,0,0,0,0,0,0
11485403,224475.0,90294,2016-02-29 23:59:57,216.0,6,8,214,0,0,0,...,0,0,0,0,0,0,0,0,0,0
11485404,224475.0,90294,2016-02-29 23:59:57,0.0,6,8,214,1,0,0,...,0,0,0,0,0,0,0,0,0,0
11485405,224475.0,5505,2016-02-29 23:59:57,27.0,6,8,214,0,0,0,...,0,0,0,0,0,0,0,0,0,0
11485406,224475.0,90294,2016-02-29 23:59:57,217.0,6,8,214,0,0,0,...,0,0,0,0,0,0,0,0,0,0
11485407,213906.0,103132,2016-02-29 23:59:58,217.0,6,8,545,0,0,0,...,0,0,0,0,0,0,0,0,0,0
11485408,213906.0,103132,2016-02-29 23:59:58,0.0,6,8,545,1,0,0,...,0,0,0,0,0,0,0,0,0,0
11485409,271994.0,59175,2016-02-29 23:59:58,0.0,6,8,545,1,0,0,...,0,0,0,0,0,0,0,0,0,0
11485410,271994.0,59175,2016-02-29 23:59:58,0.0,6,8,545,1,0,0,...,0,0,0,0,0,0,0,0,0,0
11485411,213906.0,103132,2016-02-29 23:59:58,217.0,6,8,545,0,0,0,...,0,0,0,0,0,0,0,0,0,0
11485412,213906.0,103132,2016-02-29 23:59:58,0.0,6,8,545,1,0,0,...,0,0,0,0,0,0,0,0,0,0
11485413,213906.0,103132,2016-02-29 23:59:58,216.0,6,8,545,0,0,0,...,0,0,0,0,0,0,0,0,0,0
11485414,271994.0,59175,2016-02-29 23:59:58,27.0,6,8,545,0,0,0,...,0,0,0,0,0,0,0,0,0,0
11485415,213906.0,103132,2016-02-29 23:59:58,216.0,6,8,545,0,0,0,...,0,0,0,0,0,0,0,0,0,0
11485416,271994.0,59175,2016-02-29 23:59:58,218.0,6,8,545,0,0,0,...,0,0,0,0,0,0,0,0,0,0
11485417,213906.0,103132,2016-02-29 23:59:59,216.0,6,8,545,0,0,0,...,0,0,0,0,0,0,0,0,0,0
11485418,213906.0,103132,2016-02-29 23:59:59,217.0,6,8,545,0,0,0,...,0,0,0,0,0,0,0,0,0,0
11485419,213906.0,103132,2016-02-29 23:59:59,216.0,6,8,545,0,0,0,...,0,0,0,0,0,0,0,0,0,0
11485420,301058.0,20869,2016-02-29 23:59:59,NaN,2,9,630,0,0,0,...,0,0,0,0,0,0,0,0,0,0
11485421,213906.0,103132,2016-02-29 23:59:59,0.0,6,8,545,1,0,0,...,0,0,0,0,0,0,0,0,0,0
11485422,213906.0,103132,2016-02-29 23:59:59,0.0,6,8,545,1,0,0,...,0,0,0,0,0,0,0,0,0,0
11485423,213906.0,103132,2016-02-29 23:59:59,217.0,6,8,545,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [ ]:
df_out.to_csv('../comment_df_sel.csv',index=True)